<div class=" white-text" id="notice">
	<%= notice %>
</div>
<!-- <div class="row ">
	<div class="col s12">
		<div class="row">
			<div class="input-field col s12 white">
				<i class="material-icons prefix">search</i>
				<input type="text" id="autocomplete-input" class="autocomplete" placeholder="search" data-behavior="autocomplete">
				<label for="autocomplete-input "></label>
			</div>
		</div>
	</div>
</div> -->
<div class="paginate">
	<div class="center block-attendees-pages" id="container_attendees">
		<%= render @attendees %>
	</div>
	<div class="paginate center container block-attendees-pages ">
		<%= paginate @attendees %>
	</div>
</div>
<div class="">
	<%= render 'attendees/modal' %>
</div>
