<table class="search-table highlight white-text ">
	<thead>
		<tr>
			<th>Attendee Login</th>
		</tr>
	</thead>
	<% @attendees.each do |attendee| %>
		<tbody>
			<td>
				<div class="picture-index-search">
					<%= link_to (image_tag  "https://cdn.intra.42.fr/users/medium_#{ attendee.login }.jpg", class: 'picture-index-search') , attendee %>
				</div>
			</td>
			<td>
				<%= link_to attendee.login, attendee %>
			</td>
		</tbody>
	<% end %>
</table>
<br>
<table class="search-table highlight  white-text ">
	<thead>
		<tr>
			<th>Attendee Name</th>
		</tr>
	</thead>
	<% @attendees_name.each do |attendee| %>
		<tbody>
			<td>
				<div class="picture-index-search">
					<%= link_to (image_tag  "https://cdn.intra.42.fr/users/medium_#{ attendee.login }.jpg", class: 'picture-index-search'), attendee %>
				</div>
			</td>
			<td>
				<%= link_to attendee.name, attendee %>
			</td>
		</tbody>
	<% end %>
</table>
