<meta name="description" content="Cool Life">
<style media="screen">
  #main-header{
    text-align:center;
    background-color: black;
    color: white;
    padding:10px;
  }
  #main-footer{
    text-align: center;
    font-size: 18px;
  }
</style>
<header id='main-header'>
  <h1>My Home Page</h1>
  </header>
  <a href="/"> home</a>
  <section>
    <article class="post">
      <h3>Blog one</h3>
      <small>First Story of a life</small>
      <p>Lorem ipsum dolor sit amet, consectetur adipisicing
        elit, sed do eiusmod tempor incididunt ut labore et dolore
         magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation
          ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis
          aute irure dolor in reprehenderit in voluptate velit esse cillum
          dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat
          non proident, sunt in culpa qui officia deserunt mollit anim id est
          laborum.</p>
          <a href="">Read more</a>
    </article>
    <article class="post">
      <h3>Blog two</h3>
      <small>Second Story of a life</small>
      <p>Lorem ipsum dolor sit amet, consectetur adipisicing
        elit, sed do eiusmod tempor incididunt ut labore et dolore
         magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation
          ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis
          aute irure dolor in reprehenderit in voluptate velit esse cillum
          dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat
          non proident, sunt in culpa qui officia deserunt mollit anim id est
          laborum.</p>
          <a href="">Read more</a>
    </article>
    <article class="post">
      <h3>Blog three</h3>
      <small>Third Story of a life</small>
      <p>Lorem ipsum dolor sit amet, consectetur adipisicing
        elit, sed do eiusmod tempor incididunt ut labore et dolore
         magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation
          ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis
          aute irure dolor in reprehenderit in voluptate velit esse cillum
          dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat
          non proident, sunt in culpa qui officia deserunt mollit anim id est
          laborum.</p>
          <a href="">Read more</a>
    </article>
  </section>
  <aside class="">
    <h3>Categories</h3>
    <ul>
      <li> <a href="#"></a> One</li>
      <li> <a href="#"></a> Two</li>
      <li> <a href="#"></a>Three </li>
      <li> <a href="#"></a>Four </li>
    </ul>
  </aside>
  <footer id='main-footer'>
    <p>Copyright &copy; 2018, My World </p>
  </footer>
