<a href="/home"> two</a>
<h1>Home#index</h1>
<h2> This is Great </h2>

<p>Find me in app/views/home/index.html.erb</p>

<p> Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do
  eiusmod tempor <strong>incididunt ut labore et dolore magna aliqua. </strong> Ut enim ad minim veniam,
   quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.
   Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat
   nulla pariatur. <em>Excepteur sint occaecat cupidatat </em> non proident,
  sunt in culpa qui officia deserunt mollit anim id est laborum.</p>

  <p> <a href='https://google.com' target="_blank"> Lorem ipsum</a> dolor sit amet, consectetur adipisicing elit, sed do
    eiusmod tempor <strong>incididunt ut labore et dolore magna aliqua. </strong> Ut enim ad minim veniam,
     quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.
     Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat
     nulla pariatur. <em>Excepteur sint occaecat cupidatat </em> non proident,
    sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
  <ul>
    <li> Item 1</li>
    <li> Item 1</li>
    <li> Item 1</li>
    <li> Item 1</li>
    <li> Item 1</li>

  </ul>
  <ol>
    <li> Item 1</li>
    <li> Item 1</li>
    <li> Item 1</li>
    <li> Item 1</li>
    <li> Item 1</li>

  </ol>

  <table>
    <thead>
      <tr>
        <th>Name</th>
        <th>Email</th>
        <th>Age</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td>Brad</td>
        <td>bra@berad.com</td>
        <td>28</td>
      </tr>
      <tr>
        <td>Brad</td>
        <td>bra@berad.com</td>
        <td>28</td>
      </tr>
      <tr>
        <td>Brad</td>
        <td>bra@berad.com</td>
        <td>28</td>
      </tr>
      <tr>
        <td>Brad</td>
        <td>bra@berad.com</td>
        <td>28</td>
      </tr>
    </tbody>
  </table>
<br>
<hr>
<br>
<form class="" action="index.html" method="post">
  <div class="">
    <label>First Name</label>
    <input type="text" name="first-name" value="">
  </div>
    <div class="">
      <label>Last Name</label>
      <input type="text" name="last-name" value="">
  </div>
  <div class="">
    <label>Email</label>
    <input type="email" name="email" value="">
  </div>
  <div class="">
    <label>Message</label>
  <textarea name="message" rows="8" cols="80"></textarea>
  </div>
  <div class="">
    <label for="">Gender</label>
    <select class="" name="gender">
      <option value="female">Female</option>
      <option value="male">Male</option>
      <option value="other">Other</option>
    </select>
  </div>
    <div class="">
      <label for="">Birthday</label>
      <input type="date" name="birthday" value="">
    </div>
    <div class="">
      <input type="submit" name="send" value="Send">
    </div>
</form>

<a href="https://zhuko.net/UserFiles/image/vacancy/2785.png">
<img src="https://zhuko.net/UserFiles/image/vacancy/2785.png" alt="" width="200">
</a>

<blockquote cite="https://google.com">
Lorem ipsum dolor sit amet, consectetur adipisicing elit,
sed do eiusmod tempor incididunt ut labore et dolore magna
aliqua. Ut enim ad minim veniam, quis nostrud exercitation
ullamco laboris nisi ut aliquip ex ea commodo consequat.
Duis aute irure dolor in reprehenderit in voluptate velit esse
cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat
cupidatat non proident, sunt in culpa qui officia deserunt mollit anim
id est laborum.
</blockquote>

<p>This<abbr title="is great ans awesome"> and </abbr> is awesome</p>

<p> <cite> Learning HTML 5 </cite>  </p>
