

<!--
	  <div class="parallax-container">
        <div class="parallax"><img src="https://wallup.net/wp-content/uploads/2017/11/23/520530-hexagon-white-yellow-red-purple-abstract.jpg"></div>
      </div> -->
      <div class="section white">
     </div>
	 <div class=" login row container center">
	   <h2 class="header white-text ">Welcome to Hack High School Mentor</h2>
	   <p><%= render "devise/shared/links" %></p>
	 </div>
      <!--  <div class="parallax-container">
        <div class="parallax"><img src="https://wallup.net/wp-content/uploads/2017/11/23/520530-hexagon-white-yellow-red-purple-abstract.jpg"></div>
      </div> -->
