// @import "materialize";
// @import "materialize/extras/nouislider";
body {
  display: flex;
  min-height: 100vh;
  flex-direction: column;
  background:  url(attendee_background5.jpg)no-repeat fixed;
  background-size: auto;
}

main {

	// opacity: .4;
  flex: 1 0 auto;
}

.section{
flex-direction: row;
background:  url(parallax1.jpg)

}
.parallax-container{
	flex:  1 0 auto;
}
.attendee_card{
	float: left;
	width: 33.3%;
	// border: 1px solid #ccc;
	padding: 0;
	margin: 0;
	border-radius: 15px;
	// box-sizing: border-box;
	// display: inline-block;

}

.card-image{
	// border: 1px solid #ddd;
    border-radius: 50px;
    // padding: 15px;
    // width: 350px;

}
.card_attedee{
	background: url(img_attendee);
}


.card-action{
	background: url(img_attendee);
}
.container_info{
	// float: left;
	// width: 33.3%;
	// border: 1px solid #ccc;
	// padding: 0;
	// margin: 0
	// box-sizing: border-box;
	// display: inline-block;
	background: url(img_attendee);
		width: 100%; height: 200px;
		display: flex;
	    border-style: solid;
		border-radius: 15px;
	    border-color: white;

}
.time-stamps{
	border-radius: 10px;
}
// .btn{
// 	border-radius: 100px;
// }
.nav-wrapper{
	background: linear-gradient(to right, #311b92 , #d32f2f, #0d47a1 );
}

.page-footer{
	background: linear-gradient(to right, #311b92 , #d32f2f, #0d47a1 );
}
.table_stamp{
	padding-left: 10px;
}

/* The alert message box */
.alert {
    padding: 20px;
    background-color: #d32f2f ; /* Red */
    color: white;
    margin-bottom: 15px;
	border-radius: 15px;
}

/* The close button */
.closebtn {
    margin-left: 15px;
    color: white;
    font-weight: bold;
    float: right;
    font-size: 22px;
    line-height: 20px;
    cursor: pointer;
    transition: 0.3s;
}

/* When moving the mouse over the close button */
.closebtn:hover {
    color: black;
}

.notice {
    padding: 20px;
    background-color: #303f9f; /* Red */
    color: white;
    margin-bottom: 15px;
	border-radius: 15px;
}

/* The close button */
.closebtn {
    margin-left: 15px;
    color: white;
    font-weight: bold;
    float: right;
    font-size: 22px;
    line-height: 20px;
    cursor: pointer;
    transition: 0.3s;
}

/* When moving the mouse over the close button */
.closebtn:hover {
    color: black;
}
