._5nxe{position:relative}._5nxe .img{opacity:.4}._3xse{background-color:#f03d25;border-radius:6px;height:12px;position:absolute;right:7px;top:17px;width:12px}._2kt:focus{background-color:rgba(0, 0, 0, .10);outline:none}._2kt ._3xsd{color:rgba(0, 0, 0, 1);font-weight:bold}

#bootloader__J9gB{height:42px;}.bootloader__J9gB{display:block!important;}